@import '../styles/color';

.project {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color:  $pale-grey;

  .sidebar {
    background-color: $white;
    height: 100%;
    width: 300px;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.15);
    padding: 1.875em;
    padding-bottom: 0;
    box-sizing: border-box;

    .title {
      font-size: 2em;
      margin-bottom: 1.25rem;
    }

    .description {
      color: $warm-grey;
      margin-bottom: 1.25rem;
    }

    .details {
      border-bottom: 1px solid #e2e2e2;
      line-height: 1.8em;
      margin-bottom: 1.5em;

      p {
        font-size: 0.95em;
        color: $warm-grey;
        padding-bottom: 0.5em;
      }
    }

    h3 {
      font-size: 1em;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #E2E2E2;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        button {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
          color: $warm-grey;
          padding: 1em 0;
          border-bottom: 1px solid #E2E2E2;
          width: 100%;
          text-align: left;

          &::after {
            content: ">";
            display: inline-block;
            float: right;
            margin-right: 1em;
            font-weight: bold;
            color: $black;
          }

          &:hover {
            background-color: $pale-grey;
          }
        }
      }
    }
  }

  .main {
    overflow: auto;
    flex-grow: 1;

    .video-backdrop {
      width: 100%;
      height: 100%;
      background: $black;
      padding-top: 2em;
      box-sizing: border-box;

      div {
        margin: 0 auto;
      }
    }
  }

  .banner-wrapper {
    text-align: center;

    iframe {
      display: inline-block;
    }
  }

  .banner-160x600 {
    width: 160px;
    height: 600px;
    background-color: #ff9f9f;
  }

  .banner-300x250 {
    width: 300px;
    height: 250px;
    background-color: #d2a2de;
  }

  .banner-300x600 {
    width: 300px;
    height: 600px;
    background-color: #7591c5;
  }

  .banner-728x90 {
    width: 728px;
    height: 90px;
    background-color: #74dcba;
  }

  .banner-970x250 {
    width: 970px;
    height: 250px;
    background-color: #dc9674;
  }
}