.gridfolio {
  width: 100%;
  color: #fff;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .gridfolio--block {
    box-sizing: border-box;

    &-link {
      display: grid;
      width: 100%;
      height: 100%;
    }

    &-image {

    }

    &-content {
      background-color: rgba(0, 0, 0, 0.62);
      width: 100%;
      height: 100%;
      padding: 1.5em;
      position: absolute;
      opacity: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      &:hover {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
      }
    }

    &-title {
      font-weight: 200;
      letter-spacing: 0.06em;
      margin-bottom: 20px;
    }

    &-description-wrapper {
      font-size: 10px;
    }

    &-description {
      font-weight: 100;
      letter-spacing: 0.03em;
      line-height: 1.6;
    }

    &-tags-wrapper {
      margin-top: auto;
      text-align: center;
    }

    &-tags span {
      background-color: #fff;
      color: #000;
      font-size: 0.6em;
      letter-spacing: 0.2em;
      padding: 3px;
      margin: 0 3px;
      display: inline-block;
    }
  }

  &.animates-into-view .gridfolio--block {
    opacity: 0;
    transform: translate3d(0,30px,0);
    transition: transform 0.4s ease-in-out 0.1s,
                opacity 0.8s ease-in-out 0.1s;

    &.is-animated {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}
