@import '../styles/color';

.grid-wrapper {
  flex: 1;
  background-color: $pale-grey;
}

.gridfolio {
  width: 100%;
  color: #fff;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-sizing: border-box;
  padding: 2.5rem 2rem;

  .gridfolio--block {
    color: black;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid $warm-grey;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;

    &-link {
      display: block;
    }

    &-image {
      width: 100%;
      height: auto;
      display: block;
    }

    &-details {
      display: flex;
      flex-direction: row;
      height: 80px;
      border-top: 1px solid $white;
    }

    &-logo {
      height: 100%;
      max-width: 80px;
      display: block;
    }

    &-text {
      background: $white;
      color: $black;
      flex-grow: 1;
      overflow: hidden;
      padding: 1.2em 0.6em;
    }

    &-title {
      font-weight: 200;
      white-space: nowrap;
      font-size: 1em;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-category {
      color: $warm-grey;
      font-size: 0.85em;
      margin: 0;
      margin-top: 0.6em;
      text-transform: capitalize;
    }
  }

  &.animates-into-view .gridfolio--block {
    opacity: 0;
    transform: translate3d(0,30px,0);
    transition: transform 0.4s ease-in-out 0.1s,
                opacity 0.8s ease-in-out 0.1s;

    &.is-animated {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}
