@import '../styles/color';

.masthead {
  background-color: #484848;
  min-height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: $white;
  padding: 2.5rem 2rem;
  box-sizing: border-box;

  p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
}