* {
  margin: 0 0;
  padding: 0 0;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
}


html, body {
  height: 100%;
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

